

<!---<app-customer-login></app-customer-login>
<app-customer-register></app-customer-register>
<app-category-add></app-category-add>-->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Online Electronics Shoppiee</a>
        </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a routerLink="/customer-login">Login</a></li>
            <li><a routerLink="/customer-register">Registration</a></li>
            <!-- <li><a routerLink="/app-category-add">Category Add</a></li> -->
            <li><a routerLink="/app-category-list">Category </a></li>
             <!-- <li><a routerLink="/app-product-add">Product Add</a></li>  -->
            <li><a routerLink="/app-product-list">Product </a></li>
            <!-- <li><a routerLink="/app-subcategory-add">Subcategory </a></li> -->
             <li><a routerLink="/app-subcategory-list">Subcategory </a></li> 
            <!-- <li><a routerLink="/app-offer-add">Offer </a></li> -->
             <li><a routerLink="/app-offer-list"> Offer </a></li> 
            <!-- <li><a routerLink="/app-shipment-add"> Shipment </a></li> -->
             <li><a routerLink="/app-shipment-list"> Shipment </a></li> 
             <li><a routerLink="/app-productscreen-add"> ProductScreen </a></li> 
             <li><a routerLink="/app-productscreen-details"> ProductScreen </a></li> 
            
            

          </ul>
        </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
